/* Свечение логотипа */

/* .logo {
  filter: drop-shadow(3px 3px 10px #fff234);
} */
/* для свечения полного логитипа
    box-shadow: 3px 3px 10px #fff234 */

/* ---------------------------------------------------------------------------*/

/* Плавная анимация скрытия (помогают гриды)*/

/* ‹button onclick="collapse()">
‹div class="collapse">
необходимо обернуть текст в div и задать ему min-height:0
‹div style="min-height: 0*/
/* 
.collapse {
height: 0;
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 200ms ease-in;
}
.collapse.open {
    для неплавного перехода
  height: auto;
  для плавного перехода
  grid-template-rows: 1fr;
} */

/* --------------------------------------------------------------------------- */

/* ПСЕВДОКЛАССЫ 
/* :not :has (пример с карточками ИТОГ. Не имеет карточки за собой) 

/* .card:not(:has(+ .card)) {
  background: red;
} */

/* --------------------------------------------------------------------------- */

// СВОЙСТВО aspect-ratio: указывает отношение ширины и высоты (пример квадрат 1/1)

// .ratio {
//   width: 50%;
//   aspect-ratio: 1 / 1;
//   background: purple;
// }

/* --------------------------------------------------------------------------- */
